
body{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color:lightgrey;
    
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;  

}
.control{
    height: 120px;
    min-width: 80px;
    border-style: solid;
    border-color: darkgray;

    margin-right: 5px;
}
.control:nth-child(1){
    margin-left: 5px;
}

#play {
    width: 100px;
    height: 100px;
    background-color: green;
    color: black;
    margin: 5px;
}

#rec {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    margin: 5px;
}

.key 
{
    width: 60px;
    height: 100px;
    background-color: white;
    color:black;
    margin: 5px;
}

.key:nth-child(odd){
    background-color: darkgray;
}

.key:active
{
    color: red;
}

button > p{
    text-align: center;
}
p > h3{
    text-align:center;
}


.hide {
    display: none;
}

